<template>
  <b-container>
    <b-form-input v-model="dados.email"></b-form-input>
    <b-form-input class="mt-2" v-model="dados.senha"></b-form-input>
    <b-button class="mt-5" @click="logar">LOGAR</b-button>
  </b-container>
</template>

<script>
import { login } from "@/services/api/auth.js";
import { setCookie } from "@/utils/cookie";

export default {
  name: "Login",
  data() {
    return {
      dados: {
        email: "",
        senha: "",
      },
    };
  },
  methods: {
    logar() {
      login(this.dados).then((res) => {
        console.log(res.data);
        setCookie("token", res.data.token, res.data.expiracao);
        alert("Logado");
      });
    },
  },
};
</script>
