<template>
  <div class="home">
    <b-table @row-clicked="abrirModal" :items="items"></b-table>
    <b-modal id="modal-editar">
      <b-form-input v-model="dados.nome"></b-form-input>
      <b-form-input class="mt-2" v-model="dados.descricao"></b-form-input>
      <b-form-input class="mt-2" v-model="dados.urlOAB"></b-form-input>
      <b-form-file class="mt-2" v-model="imagem"></b-form-file>

      <b-button @click="submit" class="mt-5">EDITAR MEMBRO</b-button>
      <b-button @click="deletar" class="mt-5">DELETAR MEMBRO</b-button>
    </b-modal>
  </div>
</template>

<script>
// @ is an alias to /src
import { getMembros, putMembro, deleteMembro } from "@/services/api/membros.js";

export default {
  name: "Home",
  data() {
    return {
      items: [],
      dados: {
        id: "",
        nome: "",
        descricao: "",
        urlOAB: "",
      },
      imagem: null,
    };
  },
  methods: {
    deletar() {
      deleteMembro(this.dados._id)
        .then(() => {
          alert("deletado");
        })
        .catch((err) => {
          console.error(err);
        });
    },
    abrirModal(item) {
      this.dados = item;
      this.$bvModal.show("modal-editar");
    },
    submit() {
      let data = new FormData();
      data.append("nome", this.dados.nome);
      data.append("descricao", this.dados.descricao);
      data.append("urlOAB", this.dados.urlOAB);

      if (this.imagem) data.append("urlImagem", this.imagem);

      this.$bvModal.hide("modal-editar");
      console.log(this.dados);
      putMembro(this.dados._id, data)
        .then(() => {
          alert("Editado");
        })
        .catch((err) => {
          console.error(err);
        });
    },
  },
  mounted() {
    getMembros()
      .then((res) => {
        this.items = res.data;
      })
      .catch((err) => {
        console.log(err);
      });
  },
};
</script>
