<template>
  <b-container>
    <b-form-input v-model="dados.nome"></b-form-input>
    <b-form-input class="mt-2" v-model="dados.descricao"></b-form-input>
    <b-form-input class="mt-2" v-model="dados.urlOAB"></b-form-input>
    <b-form-file class="mt-2" v-model="dados.urlImagem"></b-form-file>

    <b-button @click="adicionar" class="mt-5">ADICIONAR MEMBRO</b-button>
  </b-container>
</template>

<script>
import { postMembro } from "@/services/api/membros";

export default {
  data() {
    return {
      dados: {
        nome: "",
        descricao: "",
        urlOAB: "",
        urlImagem: null,
      },
    };
  },
  methods: {
    adicionar() {
      let data = new FormData();
      data.append("nome", this.dados.nome);
      data.append("descricao", this.dados.descricao);
      data.append("urlOAB", this.dados.urlOAB);
      data.append("urlImagem", this.dados.urlImagem);

      console.log(data.get("nome"));
      postMembro(data)
        .then((res) => {
          console.log(res.data);
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
};
</script>

<style>
</style>